* {
    box-sizing: border-box;
}

body {
    background: #86af49;
}


.container {
    text-align: center;
    position: static;
    padding-block: auto;
    font-family: 'Playfair Display', serif;
    padding: initial;
    background-image: url("https://pixabay.com/illustrations/illustration-woman-vintage-much-1319039/");
}
