@model _n_song;
@{
}
@using (Html.BeginForm("uploadTrack", "api", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
        <td colspan="1">
            &nbsp;
        </td>
        <td class="text-end"><partial name="__toggleUploadAsList" view-data="ViewData"></partial></td>
        <td colspan="10"><input id="newTitle" asp-for="title" type="text" placeholder="Title" /></td>
        <td colspan="1"><input id="newArtist" type="text" asp-for="artist" placeholder="Artist" /></td>
        <td colspan="2"><input id="newAlbum" type="text" asp-for="album" placeholder="Album" /></td>
        <td colspan="2" style="cursor:pointer">
            <img src="~/images/new-document.png" height="20" width="20" id="_input" />
            <input type="file" accept=".mp3,.m4a,.wav,.ogg" id="input" asp-for="formFile" style="display: none" single />
            <img src="~/images/picture.png" height="20" width="20" id="_inputImg" />
            <input type="file" accept=".jpg,.png" id="inputImg" asp-for="albumArt" style="display: none" single />
        </td>
        <td colspan="1" style="cursor:pointer">
        <button type="submit" style="padding: 0; border: none; background-color: rgba(0,0,0,0)"><img src="~/images/upload.png" height="20" width="20" id="_uploadbtn" /></button>
        </td>
}