@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <form method="post">
        <table style="margin-left:30px">
            <tr>
                <td>Email: </td>
                <td><input type="text" name="email" /></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td>Addon: </td>
                <td><input type="checkbox" name="chkAddon" /></td>
            </tr>
            <tr>
                <td colspan="1"><input type="submit" value="Submit Form" /></td>
                <td colspan="1"><input type="button" value="Create Account" onclick="@("window.location.href='" + @Url.Action("CreateAccount", "Login") + "'");" /></td>
            </tr>
        </table>
    </form>
</div>

<style>
    th, td {
        padding: 5px;
    }
</style>
